{% extends 'base.html.twig' %}

{% block contenu %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .link { color: #545454; text-decoration: none; }
    .link:hover { color: black; text-decoration: none; }
</style>

<div class="example-wrapper">
    <h1 style = "text-align: center;"><strong>{{ stage.titre }}</strong></h1>
    <br><br>
    <h6><strong>Pour quelles formations ?</strong></h6>
    {% for formationCourante in stage.formations%}
    <p>{{ formationCourante.nomLong}}</p>
    {% if loop.last == false %}
    ,
    {% endif %}
    {% endfor %}
    <br>
    <h6><strong>L'entreprise</strong></h6>
    <p>{{ stage.Entreprise.nom}}</p>
    <p>{{ stage.Entreprise.activite}}</p>
    <br>
    <h6><strong>Les missions</strong></h6>
    <p>{{ stage.mission }}</p>
    <br>
    <h6><strong>Comment prendre contact ?</strong></h6>
    <p>{{ stage.Entreprise.siteweb}}</p>
    <p>{{ stage.email}}</p>
</div>
{% endblock %}
